<div class="grid relative grid-cols-1 mt-8">
    <div class="tiny-two-item">
        <div class="tiny-slide">
            <div class="lg:flex p-6 lg:p-0 relative rounded-md shadow dark:shadow-gray-800 overflow-hidden m-2">
                <img class="w-24 h-24 lg:w-48 lg:h-auto lg:rounded-none rounded-full mx-auto" src="assets/images/client/01.jpg" alt="" width="384" height="512">
                <div class="pt-6 lg:p-6 text-center lg:text-start space-y-4">
                    <p class="text-base text-slate-400"> " It seems that only fragments of the original text remain in the Lorem Ipsum texts used today. " </p>
                    
                    <div>
                        <span class="text-indigo-600 block mb-1">Thomas Israel</span>
                        <span class="text-slate-400 text-sm dark:text-white/60 block">Staff Engineer, Algolia</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="tiny-slide">
            <div class="lg:flex p-6 lg:p-0 relative rounded-md shadow dark:shadow-gray-800 overflow-hidden m-2">
                <img class="w-24 h-24 lg:w-48 lg:h-auto lg:rounded-none rounded-full mx-auto" src="assets/images/client/02.jpg" alt="" width="384" height="512">
                <div class="pt-6 lg:p-6 text-center lg:text-start space-y-4">
                    <p class="text-base text-slate-400"> " The most well-known dummy text is the 'Lorem Ipsum', which is said to have originated in the 16th century. " </p>
                    
                    <div>
                        <span class="text-indigo-600 block mb-1">Carl Oliver</span>
                        <span class="text-slate-400 text-sm dark:text-white/60 block">Staff Engineer, Algolia</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="tiny-slide">
            <div class="lg:flex p-6 lg:p-0 relative rounded-md shadow dark:shadow-gray-800 overflow-hidden m-2">
                <img class="w-24 h-24 lg:w-48 lg:h-auto lg:rounded-none rounded-full mx-auto" src="assets/images/client/03.jpg" alt="" width="384" height="512">
                <div class="pt-6 lg:p-6 text-center lg:text-start space-y-4">
                    <p class="text-base text-slate-400"> " One disadvantage of Lorum Ipsum is that in Latin certain letters appear more frequently than others. " </p>
                    
                    <div>
                        <span class="text-indigo-600 block mb-1">Barbara McIntosh</span>
                        <span class="text-slate-400 text-sm dark:text-white/60 block">Staff Engineer, Algolia</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="tiny-slide">
            <div class="lg:flex p-6 lg:p-0 relative rounded-md shadow dark:shadow-gray-800 overflow-hidden m-2">
                <img class="w-24 h-24 lg:w-48 lg:h-auto lg:rounded-none rounded-full mx-auto" src="assets/images/client/04.jpg" alt="" width="384" height="512">
                <div class="pt-6 lg:p-6 text-center lg:text-start space-y-4">
                    <p class="text-base text-slate-400"> " Thus, Lorem Ipsum has only limited suitability as a visual filler for German texts. " </p>
                    
                    <div>
                        <span class="text-indigo-600 block mb-1">Jill Webb</span>
                        <span class="text-slate-400 text-sm dark:text-white/60 block">Staff Engineer, Algolia</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="tiny-slide">
            <div class="lg:flex p-6 lg:p-0 relative rounded-md shadow dark:shadow-gray-800 overflow-hidden m-2">
                <img class="w-24 h-24 lg:w-48 lg:h-auto lg:rounded-none rounded-full mx-auto" src="assets/images/client/05.jpg" alt="" width="384" height="512">
                <div class="pt-6 lg:p-6 text-center lg:text-start space-y-4">
                    <p class="text-base text-slate-400"> " One disadvantage of Lorum Ipsum is that in Latin certain letters appear more frequently than others. " </p>
                    
                    <div>
                        <span class="text-indigo-600 block mb-1">Barbara McIntosh</span>
                        <span class="text-slate-400 text-sm dark:text-white/60 block">Staff Engineer, Algolia</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="tiny-slide">
            <div class="lg:flex p-6 lg:p-0 relative rounded-md shadow dark:shadow-gray-800 overflow-hidden m-2">
                <img class="w-24 h-24 lg:w-48 lg:h-auto lg:rounded-none rounded-full mx-auto" src="assets/images/client/06.jpg" alt="" width="384" height="512">
                <div class="pt-6 lg:p-6 text-center lg:text-start space-y-4">
                    <p class="text-base text-slate-400"> " Thus, Lorem Ipsum has only limited suitability as a visual filler for German texts. " </p>
                    
                    <div>
                        <span class="text-indigo-600 block mb-1">Jill Webb</span>
                        <span class="text-slate-400 text-sm dark:text-white/60 block">Staff Engineer, Algolia</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!--end grid-->
