<div class="grid grid-cols-1 mt-8">
    <div class="tiny-three-item wow animate__animated animate__fadeInUp" data-wow-delay=".3s">
        <div class="tiny-slide text-center" *ngFor="let testimonial of testimonials">
            <div class="customer-testi">
                <div class="content relative rounded shadow dark:shadow-gray-800 m-2 p-6 bg-white dark:bg-slate-900">
                    <i class="mdi mdi-format-quote-open mdi-48px text-indigo-600"></i>
                    <p class="text-slate-400">" {{testimonial.quote}}"</p>
                    <ul class="list-none mb-0 text-amber-400 mt-3">
                        <li class="inline"><i class="mdi mdi-star"></i></li>
                        <li class="inline"><i class="mdi mdi-star"></i></li>
                        <li class="inline"><i class="mdi mdi-star"></i></li>
                        <li class="inline"><i class="mdi mdi-star"></i></li>
                        <li class="inline"><i class="mdi mdi-star"></i></li>
                    </ul>
                </div>
                
                <div class="text-center mt-5">
                    <img src="{{testimonial.image}}" class="h-14 w-14 rounded-full shadow-md mx-auto" alt="">
                    <h6 class="mt-2 font-semibold">{{ testimonial.name }}</h6>
                    <span class="text-slate-400 text-sm">{{ testimonial.role }}</span>
                </div>
            </div>
        </div>
    </div>
</div>
